@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: hsla(180, 7%, 75%,0.9);
  --color-border: #424242;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;
}

input, button, a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 0;
  pointer-events: none;
}

.lines .line-1,
.line-2,
.line-3,
.line-4 {
  width: 1px;
  min-height: 100%;
  background-color: var(--color-border);
  position: relative;
}

.shapes {
  position: absolute;
  height: 100%;
  padding: 10rem 0;

  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lines .circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--color-border);
}

.lines .x-shape {
  position: relative;
  width: 1rem;
  height: 1rem;
}

.lines .x-shape::after {
  content: "";
  position: absolute;
  left: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 1px;
  height: 100%;
  background-color: var(--color-border);
  border-radius: 1rem;

}

.lines .x-shape::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  width: 1px;
  height: 100%;
  background-color: var(--color-border);
  border-radius: 1rem;
}
.line {
  width: 1px;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
}

@keyframes fillFromTop {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.animate-fill {
  background-image: linear-gradient(to bottom, #0babf0, #0ea4e98e);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 0%;
  animation: fillFromTop 4s infinite alternate;
}

.animate-delay-0 {
  animation-delay: 0s;
}
.animate-delay-1 {
  animation-delay: 1s;
}
.animate-delay-2 {
  animation-delay: 2s;
}
.animate-delay-3 {
  animation-delay: 3s;
}
